.App {
  text-align: center;
  border-left: solid 20px rgb(135, 80, 166);
  border-right: solid 20px rgb(70, 153, 147);
  z-index: -1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background: white;
  z-index: 1000;
  /* // position: fixed; */
  z-index: 1000;
  /* top: -50px; */
  width:100%;
  padding: 15px 0 ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: black;
  border-top:rgb(135, 80, 166) 5px ;
  border-bottom: rgb(70, 153, 147) 5px;
  border-style: solid;
  /* // border-width: thick; */
  
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
  position: relative;
  /* // left: -70%; */
}
.navbar .menu li a{
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 500;
  padding: 50px;
  /* // margin-left: 25px; */
}

.home-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 49% 55%;
  position: relative;
  /* margin-top: 7%; */
  color: grey;
  opacity: .7px;

}

.app {
  background-image: url("https://media.tacdn.com/media/attractions-content--1x-1/0b/a5/3c/74.jpg");
  opacity: 0.5;
}

#mission {
  font-family:'Times New Roman';
  font-size: 38px;
  width: 300px;
  border-bottom: 5px solid rgb(67, 131, 149);
  /* right: 30%;
  position: absolute; */
  margin-left: 600px;
}

.clothing-card{
  width: 46%;
  border-radius: 41px;
  border-width: thick;
  border-color: rgb(135, 202, 222);
  border-style: solid;
}


.categories {
  display: flex;
}
#Summer {
  background: #F9BA71;
}
#Winter {
  background: #449595;
}
#Autumn {
  background: #F08068;
}
#Spring {
  background: #8AD35B;
}
.season {
  display: inline-flex;
  color: white;
  font-size: xx-large;
  padding: 50px;
  margin: 50px;
  font-weight: 900;
}


#season-card-h1 {
  padding-right: 63px;
}
#season-image {
  position: relative;
  right: 50px;
  width: 39.8%;
  top: 11.409em;
}